JWT_SECRET=mySecretKeyForJwtThatIsAtLeast32CharactersLong
DB_URL=jdbc:postgresql://db:5432/insurances
DB_USER=postgres
DB_PASSWORD=postgres
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost,http://frontend